body{
    font-family: 'Roboto';
    text-align: justify;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
#profile{
    width: 50%;
    display: flex;
    flex-direction: column ;
    align-items: center;
}
#langs{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#links a{
    color: #2196F3;
}
#links a:hover{
    border-bottom: 1px #2196F3 solid;
    font-size: 18px;
    padding: 3px;
}
.langs{
    font-weight: bold;
    color: #FF5722;
}
#desc{
    width: 100%;
    display: flex;
    flex-direction: column ;
    align-items: center;
}
#page{
    width: 50%;
}
.fullw{
    width: 100%;
}
#strategy, #con-scrum, #pos-scrum{
    width: 50%;
    display: flex;
    flex-direction: column ;
    align-items: center;
}
#strategy ul, #con-scrum ul, #pos-scrum ul{
    list-style: square;
    margin: 10px;
}
#strategy li, #con-scrum li, #pos-scrum li{
    border-bottom: 1px #000 solid;
    padding: 10px;
    margin: 30px;
}
.bg1{
    background-color: #74b9ff;
}
.bg2{
    background-color: #0984e3;
}
.bg3{
    background-color: #a29bfe;
}
.bg4{
    background-color: #e1bee7;
}

