.banner-content{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
}
.tleft{
	background-color: red;
	z-index: 9;
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 19px;
	position: fixed;
	right: 90%;
	top: 9%;
	padding: 25% 33px;
}
.tright{
	background-color: red;
	z-index: 9;
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 19px;
	position: fixed;
	left: 90%;
	top: 9%;
	padding: 25% 33px;
}
.home-text{
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 44px;
	line-height: 107px;
	color: #EE7B52;
	justify-content:space-between;
}
.home-text span {
	font-family: Charter;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 107px;

	color: #FFC1AB;
}
.banner-img{
	width:-webkit-fill-available;
}
.text-b0 img{
	height: auto;
	position: absolute;
	opacity: 0;
}
#banner0 .img-text{
	opacity: 1;
}
.text-ba{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}
.text-ba img{
	position:absolute;
	opacity:0;
}
#banner2{
	background: linear-gradient(180deg, #FBFFF1 0%, #E0E4E6 36.46%, #7C7BBA 100%);
}
#banner0{
	background: linear-gradient(180deg, #FFF1FD 0%, #E0E4E6 42.19%, #7C7BBA 100%);
}
.banner1{
	background: linear-gradient(180deg, rgba(255, 198, 252, 1) 50.52%, #D9C5D8 100%);
	background-image: url('../../../assets/bannersMobile/C_3.png');
}
#banner5{
	background: linear-gradient(334.33deg, #E27266 3.35%, #FAA779 47.47%, #DA6060 82.03%);
}
#banner6{
	background: linear-gradient(180deg, #CAD3C2 0%, #0C7CBB 100%);
}
#banner4{
	background: linear-gradient(180deg, #8FC3FF 0%, #974AF8 100%);
}
#banner3{
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #C9FF56 0%, #937DB0 100%);
}
.banner-base div{
	position: absolute;
}
.banner-central{
	z-index: 8;
}
.banner-text{
	z-index: 9;
}

.psico2{
	position: absolute;
	font-family: Charter;
	font-style: normal;
	font-size: 44px;
	line-height: 54px;
	color: #B3384A;
}
.psico1{
	position: absolute;
	width: 527px;
	font-family: Charter;
	font-style: normal;
	font-size: 44px;
	line-height: 54px;
	color: #B3384A;
}

.rocket1 , .rocket2{
	position: absolute;
	width: 250px;
	font-family: Charter;
	font-style: normal;
	font-size: 44px;
	line-height: 54px;
	color: #44427E;
}
.code1, .code2{
	position: absolute;
	font-family: Charter;
	font-style: normal;
	font-size: 44px;
	line-height: 54px;
	color: #89135E;
}

.code2{
	color: #4577ff;
}
.cto1, .cto2{
	position: absolute;
	width: 220px;
	font-family: Charter;
	font-style: normal;
	font-size: 40px;
	line-height: 54px;
	color: #523472;
}
.cto2{
	color: #d92869;
}
.gatlin1{
	position: absolute;
	width: 200px;
	font-family: Charter;
	font-style: normal;
	font-size: 44px;
	line-height: 54px;
	color: #FFF3B6;
}
.timezone2{
	position: absolute;
	font-family: Charter;
	font-style: normal;
	font-size: 44px;
	line-height: 54px;
	color: #FFC1AB;
}
.timezone1{
	position: absolute;
	font-family: Charter;
	font-style: normal;
	font-size: 44px;
	line-height: 54px;

	color: #EE7B52;
}
.remoto2, .remoto1{
	position: absolute;
	font-family: Charter;
	font-style: normal;
	font-size: 44px;
	line-height: 54px;
	color: #3D3D3D;
}
