body{
	background: linear-gradient(180deg, #FBFFF1 0%, #E0E4E6 10.46%, #7c7bbab0 43%, #fbfff100 100%);
	background-repeat: no-repeat;
}
header{
	z-index: 9;
}
main{
	margin: 30px;
}
footer{
	z-index: 8;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	margin: auto;
	width: 100%;
	position: absolute;
	bottom: 0;

	color: #1D262D;
}
footer section {
	border: 1px solid #1D262D;
	box-sizing: border-box;
	border-radius: 2px;
	margin: 20px;

}
h5{
	margin-top:30px;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 150.6%;
	/* identical to box height, or 41px */
	color: #DC3900; 
}
/*nav*/
.nav-search form{
	margin: 0 20px;
	display: flex;
	justify-content: space-between;
}
.nav-search input{
	background: #1d262d;
	height: 50px;
	border: none;
	border-radius: 2px;
	padding-left: 15px;
	text-indent: 40px;
	color: #fff;
	background-image: url('../../../assets/search.png');
	background-repeat: no-repeat;
	background-position: left;
	background-origin:content-box;
}
.nav-search input:focus{
	outline: none;
	background-color: #fff;
	background-image: url('../../../assets/searchB.png');
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;

	color: #1D262D;
}
.nav-search button{
	margin-left: 2px;
	padding: 25px 25px;
	background: #1d262d;
	background-image: url('../../../assets/filter.png');
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 2px;
}
.nav-search input:focus + button{
	background: #fff;
	background-image: url('../../../assets/filterB.png');
	background-repeat: no-repeat;
	background-position: center;
}
.nav-search-form{
	display: flex; 
	justify-content: space-between;
}
.links-count{
	margin-left: auto;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	text-transform: uppercase;

	color: #939393;
}
.nav-mb{
	flex-direction: column;
}
.back-nav{
	position: fixed;
	z-index: 5;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	/*background-color: #31393f;*/
	background: rgba(49, 57, 63, 0);
	color: #fff;
	display:none;
	border: 2px solid #1D262D;
}
.back-nav ul{
	margin: 20px;
}
.back-nav li{
	margin-bottom: 30px;
}
.back-nav li div{
	margin-bottom: 20px;
}
.back-nav h3{
	margin-left: 12%;
}
.back-nav a{
	color: #fff;
	margin-left: 12%;
}
.icon-fix{
	color: transparent;
	font-size: 35px;
}
#logo{
	z-index: 5;
	border-radius: 2px;
}
.footer-end a{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: right;
	text-transform: uppercase;

	color: #1D262D;
	padding: 0 8px;
}
.footer-time{
	font-weight: 400;
	flex: 1;
	justify-content: flex-end;
}
.footer-start{
	padding:8px 0;
	border-bottom:0.5px dashed #1D262D;
	justify-content: space-between;
}

.icon-day{
	left: 111px;
	display: block;
}
.icon-night{
	left: 111px;
	display: none;
}
.go-back-mb{
	display: none;
}
.con-tag{
	text-align: end;
}
.text-post-type{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}
.bg-psico{
	background-image: url('../../../assets/bgMobile/brain.png');
	background-repeat: repeat-x;
	background-color: #fcf9f7;
	background-position: top;
}
/*hidden desktop*/
.dk{
	display:none;
}
