@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.slin{
	font-weight: 400;
}
.bold{
	font-weight: 700;
}
.auto{
	margin: auto;
}
.auto-l{
	margin-left: auto;
}
.up{
	text-transform: uppercase;
}
.p20{
	padding: 20px;
}
.bg-psico{
	background-image:  url('../../assets/banners/C_4.png') , url("../../assets/bgs/psico.png");
	background-position: center top;
	background-repeat: repeat-x;
	background-color: #fcf9f7;
}
.bg-timezone{
	background-image: url("../../assets/bgTimezone.png");
	background-position: top;
	background-repeat: repeat-x;
}
.bg-gatlin{
	background-image: url('../../assets/bgs/gatlin.png');
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #fcf9f7;
}
.bg-wnarde{
	background: #fbfff100;
}
.text-home{
	cursor: pointer;
}
.pointer{
	cursor: pointer;
}
.icon{
	font-size: 35px;
	width: 51px;
	text-align: center;
}
.icon-day{
	left: 111px;
	display: block;
}
.icon-night{
	left: 111px;
	display: none;
}
.go-back{
	display: none;
}
.show-back{
	display: block;
}
.top-menu span{
	top:27px;
	position:fixed;
}

.banner-text{
	font-weight: bold;
}
.img_perfil_mol{
	position: relative;
	right: 152px;
	bottom: 30px;
}
