p, li, a, i, span{
	color: #fff;
}
footer section{
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 2px;
	margin: 20px;
}
.footer-post {
	border: 1px solid #fff;
	box-sizing: border-box;
	border-radius: 2px;
}
.bg-remoto , .banner0, #banner0{
	background-color: #1b2933;
	background-image: url('../../assets/bgs/remotoN.png');
	background-position: top;
	background-repeat: repeat-x;
}
.bg-psico, .banner1, #banner1{
	background-color: #1b2933;
	background-image: url('../../assets/bgs/psicoN.png'), url('../../assets/bgB.png');
	background-position: top;
}
.bg-timezone, .banner2, #banner2{
	background-color: #1b2933;
	background-image: url('../../assets/bgs/timeN.png');
	background-position: top;
	background-repeat: repeat-x;
}
.bg-cto, .banner4, #banner4{
	background-color: #1b2933;
	background-image: url('../../assets/bgs/ctoN.png');
	background-position: top;
	background-repeat: repeat-x;
}
.bg-code, .banner3, #banner3{
	background-image: url('../../assets/bgs/codeN.png');
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #1b2933;
}
.bg-gatlin, .banner5, #banner5{
	background-image: url('../../assets/bgs/gatlinN.png');
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #1b2933;
}
.bg-rocket, .banner6, #banner6{
	background-color: #1b2933;
	background-image: url('../../assets/bgs/rocketN.png');
	background-position: top;
	background-repeat: repeat-x;
}


/*nav*/
.nav-search input{
	background: #fff;
	color: #1D262D;
	background-image: url('../../../assets/search.png');
	background-repeat: no-repeat;
	background-position: left;
	background-origin:content-box;
}
.nav-search input:focus{
	outline: none;
	background-color: #1d262d;
	background-image: url('../../../assets/searchB.png');

	color: #fff;
}
.nav-search button{
	background: #fff;
	background-image: url('../../../assets/filter.png');
	background-repeat: no-repeat;
	background-position: center;
}
.nav-search input:focus + button{
	background: #1d262d;
	background-image: url('../../../assets/filterB.png');
	background-repeat: no-repeat;
	background-position: center;
}
.back-nav{
	background: #fff;
	color: #1d262d;
	border: 2px solid #1D262D;
}
.back-nav a{
	color: #1d262d;
}
.back-nav li{
	color: #1d262d;
}
.back-nav span{
	color: #1d262d;
}
.back-nav p{
	color: #1d262d;
}
.icon-close{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
	padding: 7px;
}
.nav-search input, .nav-search button {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
}
#logo{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
}
.footer-end a{
	color:#fff;
}
/*titles*/
.orange-title{
	margin-top:30px;
	color: #98FBAE; 
}
.orange-sub-title{
	margin-top:30px;
	font-weight: bold;
	color: #98FBAE;
}
.post-notes h5{
	margin-bottom: 14px;
	color: #98FBAE;
}
.post-notes span{
	color: #98FBAE;
}
.home-post p{
	color:#FCF9F7;
}
.post-date p, .post-date span{
	color: #939393;
}
.footer-post > section > div > div:nth-child(1){
	border-bottom: 0.5px dashed #fff;
	box-sizing: border-box;
}
.footer-post-links a{
	color: #fff;
}
.footer-start, .footer-time{
	border-color: #fff;
}
.post-type{
	color: #fff;
}
.icon-fix{
	color: transparent !important;
}
.tleft{
	background-image: url("../../assets/tlN.png");
	background-repeat: no-repeat;
	background-position: left;
	left: 39px;
	top: 15%;
}
.tright{
	background-image: url("../../assets/trN.png");
	background-repeat: no-repeat;
	background-position: right;
	right: 39px;
	top: 15%;
}
.back-nav > ul > li > span{
	margin-left:0px;
}

.psico1, .psico2{
	position: absolute;
	width: 527px;
	height: 214px;
	left: 350px;
	top: 151px;
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 88px;
	line-height: 111%;
	/* or 98px */
	color: #FAF5F1;
}

.rocket1 , .rocket2{

	position: absolute;
	width: 800px;
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 88px;
	line-height: 111%;
	/* or 98px */


	color: #44427E;
}

.code1, .code2{
	position: absolute;

	font-family: Charter;
	font-style: normal;
	font-weight: bold;
	font-size: 88px;
	line-height: 107px;
	color: #C6007D;
}
.code2{
	color: #4577ff;
}

.cto1{
	position: absolute;
	width: 220px;
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 80px;
	line-height: 120%;
	/* or 96px */

	color: #FFDF9C;
}
.gatlin1{
	position: absolute;

	width: 500px;
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 88px;
	line-height: 107px;

	color: #FFF3B6;
}
.timezone1{
	position: absolute;
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 88px;
	line-height: 107px;

	color: #B0FBBC ;
	text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
}
.timezone2{
	color: #82F9A1;
}
.remoto2, .remoto1{
	position: absolute;
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 88px;
	line-height: 111%;
	/* or 98px */

	color: #FFE7FB;
}

.logo_svg{
	filter: invert(94%) sepia(94%) saturate(0%) hue-rotate(189deg) brightness(105%) contrast(107%);
}
