.banner-content{
	position: fixed;
	width: 700%;
	left: 0;
	top: 0;
	height: 100%;
}
.tleft{
	z-index: 9;
	background-image: url("../../assets/tl.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 19px;
	position: fixed;
	right: 90%;
	top: 9%;
	padding: 25% 33px;
}
.tright{
	z-index: 9;
	background-image: url("../../assets/tr.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 19px;
	position: fixed;
	left: 90%;
	top: 9%;
	padding: 25% 33px;
}
.home-text{
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 88px;
	line-height: 107px;
	color: #EE7B52;
	justify-content:space-between;
}
.home-text span {
	font-family: Charter;
	font-style: normal;
	font-weight: bold;
	font-size: 88px;
	line-height: 107px;

	color: #FFC1AB;
}
.banner-img{
	width:-webkit-fill-available;
}
