img{
}
.title-home{
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 150.6%;
	color: #DC3900;
}
.post-title{
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 41px;
	margin-bottom: 33px;

	color: #DC3900;
}
.post-body{
	width: 100%;
	margin: auto;
}
.post-content h3{
	margin-top:30px;
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 150.6%;
	color: #DC3900; 
}
.post-content article > p{
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 150.6%;
	/* or 32px */
	margin-top:16px;

	color: #292929;
}
.post-content h4{
	margin-top:30px;
	font-family: Charter;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	line-height: 150.6%;
	/* identical to box height, or 41px */


	color: #DC3900;
}
.post-notes h5{
	margin-bottom: 14px;
}
.post-notes p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 20px;
}
.post-notes span{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;

	color: #DC3900;
}
.post-date{
	display: flex;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 41px;
	margin-bottom: 32px;

	color: #5C5C5C; 
}
.post-date div{
	margin-right: 30px;
}
.post-date p{
	margin-left: 5px;
}
.post-img{
	display: flex;
	justify-content: center;
	margin: 44px 0;
}
.post-img img{
	width: 100%;
	height: auto;
}
.img-note > p{
	display: flex;
	justify-content: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1D262D;
}
.perfil-img{
	margin-top:40px;
	justify-content: center;
}

/*brain*/
.audio-div{
	height: 99px;
	border: 1px solid #1D262D;
	box-sizing: border-box;
	border-radius: 2px;
}
.audio-div .player{
	display: flex;
	padding: 12px;
	border-bottom: 0.5px dashed #1D262D;
	box-sizing: border-box;
	justify-content: space-between;
}
.audio-div .info{
	padding: 12px;
	display: flex;
	justify-content: space-between;
}
.media-bar{
	margin-top: 10px;
	width: 80%;
	height: 5px;
	background:#C16071
}
.media-bar span{
	padding: 1px 9px;
	background: black;
	border-radius: 50%; 
	position: relative;
	bottom:6px;
	left:4px;
}
.info .emb{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;

	color: #1D262D; 
}
.info .data{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;

	color: #C16071;
}
.post-content .post-title-pink{
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 34px;
	margin-bottom: 14px;

	color: #B2384A;
}
.post-ul{
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 32px;
	margin-left: 19px;

	color: #292929;
}
.post-ul li{
	list-style-image: url('../../../assets/list.png');
	padding-left: 14px;
	margin:30px 0;
}

.footer-post > p{
	margin-top: 30px;
}
.footer-post > section > div > div{
	padding: 6px 12px;
}
.footer-post > section > div > div:nth-child(1){
	border-bottom: 0.5px dashed #1D262D;
	box-sizing: border-box;
}
.footer-post-middle, .footer-post-end{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;

	margin: 0;
	color: #1D262D;
	flex: 1;
}
.footer-post-end{
	justify-content: flex-end;
}
.footer-post-links a{
	margin: 0 0 0 12px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-align: right;
	text-transform: uppercase;

	color: #1D262D;
}
.footer-post-time{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;

	color: #1D262D; 
}
.footer-post span{
	margin: 0 10px 0 10px;
}
