.banner-content{
	position: fixed;
	width: 700%;
	left: 0;
	top: 0;
	height: 100%;
}
.tleft{
	z-index: 9;
	background-image: url("../../assets/tl.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 19px;
	position: fixed;
	right: 90%;
	top: 15%;
	padding: 250px 33px;
}
.tright{
	z-index: 9;
	background-image: url("../../assets/tr.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 12px;
	height: 19px;
	position: fixed;
	left: 90%;
	top: 15%;
	padding: 250px 33px;
}
.home-text{
	font-family: Charter;
	font-style: normal;
	font-weight: normal;
	font-size: 88px;
	line-height: 107px;
	color: #EE7B52;
	justify-content:space-between;
}
.home-text img{
	height:610px;
	margin: auto;
}
.home-text span {
	font-family: Charter;
	font-style: normal;
	font-weight: bold;
	font-size: 88px;
	line-height: 107px;

	color: #FFC1AB;
}
#banner0{
	background: linear-gradient(180deg, #FBFFF1 0%, #E0E4E6 36.46%, #7C7BBA 100%);
}
#banner1{
	background: linear-gradient(180deg, #FFF1FD 0%, #E0E4E6 42.19%, #7C7BBA 100%);
}
#banner2{
	background: linear-gradient(180deg, rgba(255, 198, 252, 1) 50.52%, #D9C5D8 100%);
}
#banner3{
	background: linear-gradient(334.33deg, #E27266 3.35%, #FAA779 47.47%, #DA6060 82.03%);
}
#banner4{
	background: linear-gradient(180deg, #CAD3C2 0%, #0C7CBB 100%);
}
#banner5{
	background: linear-gradient(180deg, #8FC3FF 0%, #974AF8 100%);
}
#banner6{
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #C9FF56 0%, #937DB0 100%);
}
.text-b0 img{
	height: auto;
	position: absolute;
	opacity: 0;
}
#banner0 .img-text{
	opacity: 1;
}
.text-ba{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}
.text-ba img{
	position:absolute;
	opacity:0;
}
#banner-base, #banner-text, #banner-secondary, #banner-central{
	position: absolute;
}
