@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap');
*{
    list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.p20{
	padding: 20px;
}
