@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
.slin{
	font-weight: 400;
}
.auto{
	margin: auto;
}
.up{
	text-transform: uppercase;
}
.icon{
	font-size: 35px;
}
.p20{
	padding: 20px;
}
.bg1{
	background: linear-gradient(180deg, rgba(255, 198, 252, 1) 0%, #fbfff100 100%);
}
.bg2{
	background-image: url("../../assets/bgTimezone.png");
	background-position: top;
	background-repeat: repeat-x;
}
.bg3{
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.51%, #c5a59a 100%), linear-gradient(334.33deg, #E27266 3.35%, #FAA779 47.47%, #DA6060 89.31%);
}
.bg4{
	background: #fbfff100;
}
.text-home{
	cursor: pointer;
}
