body{
	background: linear-gradient(180deg, #FBFFF1 0%, #E0E4E6 10.46%, #7c7bbab0 43%, #fbfff100 100%);
	background-repeat: no-repeat;
}
header{
	z-index: 8;
}
main{
	margin: 20px;
}
footer{
	z-index: 9;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	margin: auto;
	width: 100%;
	position: absolute;
	bottom: 0;

	color: #1D262D;
}
footer section, .footer-post{
	border: 1px solid #1D262D;
	box-sizing: border-box;
	border-radius: 2px;
	margin: 20px;

}
.links-count{
	margin-left: auto;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	text-align: right;
	text-transform: uppercase;

	color: #939393;
}
.icon{
	font-size: 35px;
}
.pointer{
	cursor: pointer;
}
h5{
	margin-top:30px;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 150.6%;
	/* identical to box height, or 41px */
	color: #DC3900; 
}
.back-nav{
	position: fixed;
	z-index: 5;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	/*background-color: #31393f;*/
	background: rgba(49, 57, 63, 0);
	color: #fff;
	display:none;
	border: 2px solid #1D262D;
}
.back-nav ul{
	margin: 20px;
}
.back-nav h3{
	margin-left: 12%;
}
.back-nav a{
	color: #fff;
	margin-left: 12%;
}
.icon-fix{
	color: transparent;
	font-size: 35px;
}
#logo{
	z-index: 5;
	height: 50px;
	width: 187px;
	border-radius: 2px;
	background: #1D262D;
	border-radius: 2px;
	text-align: center;
}
#logo h1{
	font-family: Kadwa;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: #F6FBED;
	line-height: 50px;
	text-transform: capitalize;
}
.footer-end a{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	text-align: right;
	text-transform: uppercase;

	color: #1D262D;
	padding: 0 8px;
}
.footer-middle{
	padding:8px 15px;
}
.footer-time{
	width: 25%;
	padding:8px 15px;
	border-right:0.5px dashed #1D262D;
	font-weight: 400;
}
/*hidden mobile*/
.mb{
	display:none;
}
