body{
	background: linear-gradient(180deg, #FBFFF1 0%, #E0E4E6 10.46%, #7c7bbab0 43%, #fbfff100 100%)N;
	background-repeat: no-repeat;
}
header{
	z-index: 8;
}
main{
	margin: 20px;
}
footer{
	z-index: 9;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	margin: auto;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: #1D262D;
}
h5{
	margin-top:30px;
	font-family: Georgia;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 150.6%;
	color: #DC3900; 
}
footer section {
	border: 1px solid #1D262D;
	box-sizing: border-box;
	border-radius: 2px;
	margin: 20px;
}
.footer-post{
	border: 1px solid #1D262D;
	box-sizing: border-box;
	border-radius: 2px;
}
.links-count{
	margin-left: auto;
	margin-right: 95px;
	font-weight: normal;
	font-size: 15px;
	text-align: right;
	text-transform: uppercase;
	color: #939393;
}
.recent-nav{
	margin-right: 24px;
}
.back-nav-links li div{
	margin: 26px 0;
	align-items: center;
}
.back-nav{
	position: fixed;
	z-index: 5;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	background: rgba(29, 38, 45, 0);
	color: #fff;
	display:none;
	border: 2px solid #1D262D;
}
.back-nav ul{
	margin: 20px;
}
.back-nav h3{
	margin-left: 24px;
}
.back-nav a{
	color: #fff;
	margin-left: 24px;
}
.icon-fix{
	color: transparent;
	font-size: 35px;
}
#logo{
	z-index: 5;
	height: 50px;
	width: 187px;
	border-radius: 2px;
	background: #1D262D;
	border-radius: 2px;
	text-align: center;
}
#logo h1{
	font-family: Kadwa;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: #F6FBED;
	line-height: 50px;
	text-transform: capitalize;
}
.footer-end a{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	text-align: right;
	text-transform: uppercase;
	padding: 0 8px;
	color: #1D262D;
}
.footer-middle{
	padding:8px 15px;
}
.footer-time{
	border-right:0.5px dashed #1D262D;
	font-weight: 400;
}
.footer-hour p{
	margin-right: 12px;
}
.footer-hour span{
	font-weight: normal;
	font-size: 26px;
	line-height: 20px;
	text-transform: uppercase;

}
.post-type{
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #1D262D;
}
.post-resume{
	margin-left: 12px;
}

/*hidden mobile*/
.mb{
	display:none;
}
